@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap");

:root {
  --primary: #0dd093;
  --secondary: #8fff9f;
  --backgroundColor: #011b16;
  --neutral: #b6ffad;
}

body {
  background: var(--neutral);
}

.primary-background {
  background: var(--primary);
}

.secondary-background {
  background: var(--secondary);
}

.neutral-background {
  background: var(--neutral);
}

.font-primary {
  font-family: Arial, Helvetica, sans-serif;
}

.navBar {
  background-color: transparent;
  border-style: dotted;
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 2px 8px 4px;
  max-width: 5xl;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-right: auto;
  top: 0;
  left: 0;
  bottom: 0;
}

.logo {
  font-size: 2rem;
  background: linear-gradient(to bottom, #6659a4, black);
  background-clip: text;
  color: transparent;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 800;
  box-shadow: 0 3px 6px 2px black;
  /* box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px; */
  /* box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, */
  /* rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset; */
  text-align: center;
  border-radius: 1rem;
}

.greeting {
  text-align: center;
}

a {
  text-decoration: none;

}

.bold {
  font-weight: bold;
}